In [5]:
parrot = "Norwegian Blue"
print(parrot[3])
print(parrot[4])
print(parrot[9])
print(parrot[3])
print(parrot[6])
print(parrot[8])

w
e

w
i
n

In [7]:
print(parrot[-11])
print(parrot[-10])
print(parrot[-5])
print(parrot[-11])
print(parrot[-8])
print(parrot[-6])

w
e

w
i
n

In [8]:
print(parrot[3-14])
print(parrot[4-14])
print(parrot[9-14])
print(parrot[3-14])
print(parrot[6-14])
print(parrot[8-14])

w
e

w
i
n

In [9]:
print(parrot[0:9])

Norwegian

In [11]:
print(parrot[10:])

Blue

In [12]:
print(parrot[0:6:2])

Nre

In [13]:
print(parrot[-4:])

Blue

In [15]:
letters ="abcdefghijklmnopqrstuvwxyz"
print(letters[25::-1])
print(letters[::-1])

zyxwvutsrqponmlkjihgfedcba
zyxwvutsrqponmlkjihgfedcba

In [17]:
print(letters[16:13:-1])
print(letters[4::-1])
print(letters[-1:-9:-1])

qpo
edcba
zyxwvuts

In [19]:
string1 = "he's"
string2 = "probably"
string3 = "working"
print(string1, string2, string3)
print(string1 + string2 + string3)

he's probably working

In [20]:
print(string3 * 3)

workingworkingworking

In [21]:
print((string3 + " ") * 3)

working working working

In [22]:
print("day" in "friday")

True

In [23]:
print("month" in "friday")

False

In [25]:
age =24
print("My age is " + str(age) + " years")
print(f"my age is {str(age)} years")
print("my age is {0} years".format(age) )

My age is 24 years
my age is 24 years
my age is 24 years

In [26]:
print("there are {0} days in {1}".format(31,"Jan"))

there are 31 days in Jan

In [30]:
print("No. {0:2} squared is {1:4} and cubed is {2:4}".format(1, 1**2, 1**3))

No.  1 squared is    1 and cubed is    1

In [33]:
print("No. {0:>2} squared is {1:<4} and cubed is {2:^4}".format(5, 5**2, 5**3))

No.  5 squared is 25   and cubed is 125

In [34]:
print("pie {0:12.50f}".format(22/7))

pie 3.14285714285714279370154144999105483293533325195312

In [36]:
print("pie {0:72.50f}".format(22/7))

pie           3.14285714285714279370154144999105483293533325195312

In [37]:
print("No. {:2} squared is {:4} and cubed is {:4}".format(1, 1**2, 1**3))

No.  1 squared is    1 and cubed is    1

In [39]:
p=22/7
print(f"pie {p:<72.50f}")

pie 3.14285714285714279370154144999105483293533325195312