In [1]:
# Printing letters in the var parrot using for loop
parrot ="Norwegian Blue"

for character in parrot:
    print(character)

N
o
r
w
e
g
i
a
n

B
l
u
e

In [2]:
# Extracting the separator using for loop
number="9,223;372:036 854,775;807"
separator=""

for char in number:
    if not char.isnumeric():
        separator = separator+char

print(separator)

,;: ,;

In [4]:
# Program to print the capital letters in the string
quote = """
Alright, but apart from the Sanitation, the Medicine, Education, Wine,
Public Order, Irrigation, Roads, the Fresh-Water System,
and Public Health, what have the Romans ever done for us?
"""
 
# Use a for loop and an if statement to print just the capitals in the quote above.
cap_letter=""

for char in quote:
    if char.isupper():
        cap_letter= cap_letter + char
        
print(cap_letter)

ASMEWPOIRFWSPHR

In [6]:
#for loop using range

for i in range(1,21):
    print("i is {}".format(i))

i is 1
i is 2
i is 3
i is 4
i is 5
i is 6
i is 7
i is 8
i is 9
i is 10
i is 11
i is 12
i is 13
i is 14
i is 15
i is 16
i is 17
i is 18
i is 19
i is 20

In [8]:
# Program to print out all the numbers from 0 to 9

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
# Program to print out all the numbers from 10 to 0 in steps of 2

for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [10]:
# Program to print all numbers divisible by 7, including 0: Method1

for i in range(0,101,7):
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [11]:
# Program to print all numbers divisible by 7, including 0: Method2

for i in range(0,101):
    yes = i%7
    if not yes:
        print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [13]:
# Program for multiplication table (1 to 12) using nested for loop

for i in range(1,13):
    for j in range(1,13):
        print("{:>2} times {:>2} is {:>3}".format(i,j,i*j))
    print("-"*50)

 1 times  1 is   1
 1 times  2 is   2
 1 times  3 is   3
 1 times  4 is   4
 1 times  5 is   5
 1 times  6 is   6
 1 times  7 is   7
 1 times  8 is   8
 1 times  9 is   9
 1 times 10 is  10
 1 times 11 is  11
 1 times 12 is  12
--------------------------------------------------
 2 times  1 is   2
 2 times  2 is   4
 2 times  3 is   6
 2 times  4 is   8
 2 times  5 is  10
 2 times  6 is  12
 2 times  7 is  14
 2 times  8 is  16
 2 times  9 is  18
 2 times 10 is  20
 2 times 11 is  22
 2 times 12 is  24
--------------------------------------------------
 3 times  1 is   3
 3 times  2 is   6
 3 times  3 is   9
 3 times  4 is  12
 3 times  5 is  15
 3 times  6 is  18
 3 times  7 is  21
 3 times  8 is  24
 3 times  9 is  27
 3 times 10 is  30
 3 times 11 is  33
 3 times 12 is  36
--------------------------------------------------
 4 times  1 is   4
 4 times  2 is   8
 4 times  3 is  12
 4 times  4 is  16
 4 times  5 is  20
 4 times  6 is  24
 4 times  7 is  28
 4 times  8 is  32
 4 times  9 is  36
 4 times 10 is  40
 4 times 11 is  44
 4 times 12 is  48
--------------------------------------------------
 5 times  1 is   5
 5 times  2 is  10
 5 times  3 is  15
 5 times  4 is  20
 5 times  5 is  25
 5 times  6 is  30
 5 times  7 is  35
 5 times  8 is  40
 5 times  9 is  45
 5 times 10 is  50
 5 times 11 is  55
 5 times 12 is  60
--------------------------------------------------
 6 times  1 is   6
 6 times  2 is  12
 6 times  3 is  18
 6 times  4 is  24
 6 times  5 is  30
 6 times  6 is  36
 6 times  7 is  42
 6 times  8 is  48
 6 times  9 is  54
 6 times 10 is  60
 6 times 11 is  66
 6 times 12 is  72
--------------------------------------------------
 7 times  1 is   7
 7 times  2 is  14
 7 times  3 is  21
 7 times  4 is  28
 7 times  5 is  35
 7 times  6 is  42
 7 times  7 is  49
 7 times  8 is  56
 7 times  9 is  63
 7 times 10 is  70
 7 times 11 is  77
 7 times 12 is  84
--------------------------------------------------
 8 times  1 is   8
 8 times  2 is  16
 8 times  3 is  24
 8 times  4 is  32
 8 times  5 is  40
 8 times  6 is  48
 8 times  7 is  56
 8 times  8 is  64
 8 times  9 is  72
 8 times 10 is  80
 8 times 11 is  88
 8 times 12 is  96
--------------------------------------------------
 9 times  1 is   9
 9 times  2 is  18
 9 times  3 is  27
 9 times  4 is  36
 9 times  5 is  45
 9 times  6 is  54
 9 times  7 is  63
 9 times  8 is  72
 9 times  9 is  81
 9 times 10 is  90
 9 times 11 is  99
 9 times 12 is 108
--------------------------------------------------
10 times  1 is  10
10 times  2 is  20
10 times  3 is  30
10 times  4 is  40
10 times  5 is  50
10 times  6 is  60
10 times  7 is  70
10 times  8 is  80
10 times  9 is  90
10 times 10 is 100
10 times 11 is 110
10 times 12 is 120
--------------------------------------------------
11 times  1 is  11
11 times  2 is  22
11 times  3 is  33
11 times  4 is  44
11 times  5 is  55
11 times  6 is  66
11 times  7 is  77
11 times  8 is  88
11 times  9 is  99
11 times 10 is 110
11 times 11 is 121
11 times 12 is 132
--------------------------------------------------
12 times  1 is  12
12 times  2 is  24
12 times  3 is  36
12 times  4 is  48
12 times  5 is  60
12 times  6 is  72
12 times  7 is  84
12 times  8 is  96
12 times  9 is 108
12 times 10 is 120
12 times 11 is 132
12 times 12 is 144
--------------------------------------------------

In [1]:
#Program to print nos in steps of 7 until the no is divisible by 11

for i in range(0, 100, 7):
    print(i)
    if i>0 and i%11 ==0:
        break

0
7
14
21
28
35
42
49
56
63
70
77

In [2]:
# program to print all nos from 1 to 20 which aren't divisible by 3 or 5

for i in range(0,21):
    if i%3 != 0 and i%5 !=0:
        print(i)

1
2
4
7
8
11
13
14
16
17
19