In [1]:
import pandas as pd
sal = pd.read_csv("Salaries.csv")

In [2]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [3]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [4]:
sal.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [5]:
sal["BasePay"].mean()

66325.44884050643

In [6]:
sal["OvertimePay"].max()

245131.88

In [13]:
sal.loc[sal["EmployeeName"] == "JOSEPH DRISCOLL", "JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [18]:
max_benefits = sal["TotalPayBenefits"].max()
sal.loc[sal["TotalPayBenefits"] == max_benefits]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [19]:
min_benefits = sal["TotalPayBenefits"].min()
sal.loc[sal["TotalPayBenefits"] == min_benefits]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [22]:
sal.groupby(["Year"])["BasePay"].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [25]:
sal["JobTitle"].nunique()

2159

In [26]:
sal["JobTitle"].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [46]:
year13_count = sal.loc[sal["Year"] == 2013,"JobTitle"].value_counts()
len(year13_count[year13_count == 1])

202

In [47]:
sal["JobTitle"].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [97]:
def chief_yes(x,count=0):  
   # n = len(sal["JobTitle"])
   # for i in range(0,(n+1)):
    #    rown = sal.iloc[i][2]
    if ("chief") in x.lower():
        count += 1
    return count
res = sal["JobTitle"].apply(chief_yes)
res.sum()
#chief_yes("Chief Justice")
#chief_yes()

627

In [80]:
("General" or "GENERAL" or "general") in sal.iloc[0][2]

False

In [85]:
ans = sal.iloc[0][2]
type(ans)
"AUTHORITY" in ans

True

In [96]:
count = 0

for job in sal['JobTitle']:

    if 'chief' in job.lower():

        count +=1

print (count)

627

In [6]:
import pandas as pd
ecom = pd.read_csv("Ecommerce Purchases")
# seq=ecom["Job"]
# print(seq.head(), type(seq))
# #list[filter(lambda x: "lawyer" in x.lower, seq)]
# def my_func(x):
#     "lawyer" in x.lower
    
# ecom["Job"].apply(lambda x: "lawyer" in x.lower)

ecom.loc[ecom["Job"] == "Lawyer", "Email"].count()

30

In [7]:
sum(ecom['CC Exp Date'].apply(lambda x: x[3:]) == '25')

1033

In [8]:
ecom['CC Exp Date'].apply(lambda x: x[3:]) == '25'

0       False
1       False
2       False
3       False
4        True
5        True
6       False
7        True
8       False
9       False
10      False
11      False
12      False
13       True
14      False
15       True
16      False
17      False
18      False
19      False
20      False
21       True
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
9970    False
9971    False
9972    False
9973    False
9974    False
9975    False
9976    False
9977    False
9978    False
9979    False
9980    False
9981    False
9982    False
9983    False
9984    False
9985    False
9986    False
9987    False
9988    False
9989    False
9990    False
9991    False
9992    False
9993     True
9994     True
9995    False
9996     True
9997    False
9998    False
9999    False
Name: CC Exp Date, Length: 10000, dtype: bool